#login-page {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: blueviolet;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

#login-page form {
	display: flex;
	flex-direction: column;
	row-gap: 0.2em;
}